<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvVq2M9dfB4WaPr4A3hSvC2HVsLeV6SwU</string>
	<key>GCM_SENDER_ID</key>
	<string>731320901071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubeclonenow2</string>
	<key>PROJECT_ID</key>
	<string>youtubeclonenow2</string>
	<key>STORAGE_BUCKET</key>
	<string>youtubeclonenow2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731320901071:ios:7a6adaf644c0944a8846ba</string>
</dict>
</plist>